.form_wrap {
}

h3 {
  text-align: center;
}

.container_reset {
  padding: 1em;
  margin-bottom: 7em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_input {
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 1em;
}

.form_button {
  padding: 1em;
}

.error_text {
  color: red;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.submit_button {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  padding: 0.8em 1.3em 0.8em 1.3em;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
}

.loading_background {
  z-index: 9;
  background-color: white;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
