.header_link:hover {
  border-bottom: 1px solid red;
}

.header_link_active {
  border-bottom: 1px solid red;
}

.header_link {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: lightgrey 0.5px dotted;
}

.right_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
}

.left_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.mid_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
}
